/* pcs style for reset*/
.pcs-reset{line-height: 1.7em;margin-bottom: 3px;}
.pcs-main{overflow: hidden;padding: 10px !important;}
.pcs-sub:first-child {margin-top: 0;}
.pcs-sub{margin-top: 15px;padding-right: 10px;clear: both;display: block;}
.pcs-sub,.pcs-body{overflow: hidden;}
.pcs-img,.pcs-body{display: block;vertical-align: top;box-sizing: border-box;}
.pcs-body {width: 60%;float: left;}
.pcs-img{float: left;width: 30%;margin: 0 10px 10px 0!important;}
.pcs-title{font-size: 15px;display: block;padding: 0px;margin: 0px;margin-bottom: 5px;}
.pcs-excerpt{font-size: 13px;text-align: justify;display: block;}
.pcs-content{font-size: 12px;text-align: justify;display: block;}
.pcs-meta{display: block;font-size: 12px;float: left;}
.pcs-meta a{font-size: 12px !important;}
.pcs-rm{font-size: 15px;display: inline-block;clear: both;text-align: left;}
.pcs-img img{max-width: 100%;max-height: 100%;margin: 0 auto;}
.pcsmeta{float: left;padding-right: 10px;display: inline-block;}
.pcs-meta .glyphicon{margin-right: 3px;}
.pcs-cust-field{display: block;clear: both;}
/* pcs style for ws and gws*/
.ws .pcs-sub,.gws .pcs-sub{border-bottom: 1px solid #777;}
.ws .pcs-title a,.gws .pcs-title a{color: #222;}
.ws .pcs-excerpt,.gws .pcs-excerpt{color: #333;}
.ws .pcs-content,.gws .pcs-content{color: #444;}
.ws .pcs-meta,.ws .pcs-meta a,.gws .pcs-meta,.gws .pcs-meta a{color: #555;}
.ws .pcs-rm,.gws .pcs-rm{color: #666;}
.ws a:hover,.gws a:hover{color: #000 !important;}
/* pcs style for iws and igws*/
.iws.pcs-main,.igws.pcs-main{background-color: #333;}
.iws .pcs-sub,.igws .pcs-sub{border-bottom: 1px solid #777;}
.iws .pcs-title a,.igws .pcs-title a{color: #eee;}
.iws .pcs-excerpt,.igws .pcs-excerpt{color: #ddd;}
.iws .pcs-content,.igws .pcs-content{color: #ddd;}
.iws .pcs-meta,.iws .pcs-meta a,.igws .pcs-meta,.igws .pcs-meta a{color: #ccc;}
.iws .pcs-rm,.igws .pcs-rm{color: #eee !important;}
.iws a:hover,.igws a:hover{color: #fff !important;}
/* pcs style for gws nad igws*/
.gws .pcs-body,.igws .pcs-body{width: 100%;}
.gws .pcs-img,.igws .pcs-img{width: 100%}